.pane {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3),5, 0.5, 0.0, 0.0);
}

.pane:hover {
    -fx-background-color: white;
}

.menu-button .menu-item {
    -fx-background-color: white;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-font-family: Arial;
    -fx-font-size: 19;
    /*-fx-border-color: #dae1e3;*/
}

.menu-button:pressed {
    -fx-background-color: #7cebfc;
}

.main-button {
    -fx-font-family: Arial;
    -fx-font-size: 19;
}

.main-button:focused {
    -fx-background-color: #7cebfc;
}


.product-pane {
    -fx-background-radius : 10;
    -fx-border-radius: 10;
    -fx-background-color:  #ededed;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3),5, 0.5, 0.0, 0.0);
}

.product-pane:hover {
    -fx-background-color: #f0f0f0;
}

.product-pane:selected {

}

.order-pane {
    -fx-background-radius : 10;
    -fx-border-radius: 10;
    -fx-background-color:  #c5fcfc;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3),5, 0.5, 0.0, 0.0);
}

.order-pane:hover {
    -fx-background-color: #d4fcfc;
}

.order-pane:selected {

}

.spinner .increment-arrow-button {
    -fx-background-color:  #00c4de;
}

.spinner .decrement-arrow-button {
    -fx-background-color:  #00c4de;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #0285c2;
    -fx-background-radius: 15;
}

.scroll-pane .scroll-bar .increment-arrow {
    -fx-background-color: #0285c2;
}

.scroll-pane .scroll-bar .decrement-arrow {
    -fx-background-color: #0285c2;
}

.scroll-pane .scroll-bar {
    -fx-background-color: #ffffff;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: 25;
    -fx-fill-height: 40px;
}

.account-button {
    -fx-font-size: 40;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3),3, 0.3, 0.0, 0.0);
}

.log-button {
    -fx-font-size: 14;
}

.table-view .column-header-background {
    -fx-background-color: #00c6ed;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view {
    -fx-border-color: #000000;
    /*-fx-background-radius: 15;*/
    /*-fx-border-radius: 15;*/
}

.table-row-cell:hover {
    -fx-background-color: #c9c9c9;
}

.table-row-cell:odd {
    -fx-background-color: #ededed;
}

.table-row-cell:even {
    -fx-background-color: #faf7f7;
}

.table-row-cell:selected {
    -fx-background-color: #c9c9c9;
    -fx-text-fill: black;
}


.table-view .table-cell {
    -fx-alignment: center;
}

/*.search-field {*/
/*    -fx-background-radius: 10px;*/
/*    -fx-border-radius: 10px;*/
/*    !*-fx-background-color: #f5f5f5;*!*/
/*    -fx-border-color: black;*/
/*}*/