.pane {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3),5, 0.5, 0.0, 0.0);
}

.pane:hover {
    -fx-background-color: white;
}

.menu-button .menu-item {
    -fx-background-color: white;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-font-family: Arial;
    -fx-font-size: 19;
    /*-fx-border-color: #dae1e3;*/
}

.menu-button:pressed {
    -fx-background-color: #7cebfc;
}

.button {
    -fx-font-family: Arial;
    -fx-font-size: 19;
}

.button:focused {
    -fx-background-color: #7cebfc;
}

.product-pane {
    -fx-background-radius : 10;
    -fx-border-radius: 10;
    -fx-background-color:  #ededed;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3),5, 0.5, 0.0, 0.0);
}

.product-pane:hover {
    -fx-background-color: #f0f0f0;
}

.product-pane:selected {

}

.spinner .increment-arrow-button {
    -fx-background-color:  #00c4de;
}

.spinner .decrement-arrow-button {
    -fx-background-color:  #00c4de;
}

/*.search-field {*/
/*    -fx-background-radius: 10px;*/
/*    -fx-border-radius: 10px;*/
/*    !*-fx-background-color: #f5f5f5;*!*/
/*    -fx-border-color: black;*/
/*}*/